h4 {
    background-color: pink;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 15px;
    margin-left: 40%;
    width: 15rem;
}

.project {
    position: relative;
    border-radius: 15px;
    /* width: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin-top: 15rem;
    margin-left: 5rem
}

.homePage {
    background-image: url("../Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
    height: 90vh;
    width: 99%;

}

.btn {
    margin-left: 40px;
    margin-top: 10px;
    ;
}

.home {

    padding-top: 20px;
    margin-left: 10% !important;
}

.input,
select {
    width: 35%;
    border-radius: 8px;
}

.date {
    padding-top: 20px;
    margin-left: 10% !important;

}

.description {
    height: 100px;
    width: 35%;
    border-radius: 8px;
}

.addbtn {
    margin-left: 30px;
}

.grid {
    display: flex;
}




/* .pre {
    background: url(../Images/test.jpeg) no-repeat;
    height: 190px;
    width: 270px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    text-decoration: none;
} */

.btns {
    color: antiquewhite;
    text-decoration: none;
}

.prespan {
    text-decoration: none;
    margin-top: 50px;
    margin-left: 50px !important;
}

h6 {
    position: absolute;
    margin-left: 9rem;
    margin-top: 15rem;
    
    z-index: 1;
}

img:hover {
    outline: 1px solid black;
}