h4 {
    background-color: pink;
    justify-content: center;
    border-radius: 15px;
    margin-top: 10px !important;
    width: 15rem;
}

.homePage {
    background-image: url("../Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
    height: 93vh;
    width: 99%;

}

.addbtn {
    margin-left: 30px;
    margin-top: 10px;
}

.btns {
    color: antiquewhite;
    text-decoration: none;
}

.home {
    padding-top: 20px;
    margin-left: 10% !important;
}

.input,
select {
    width: 35%;
    border-radius: 8px;
}

.date {
    padding-top: 20px;
    margin-left: 10% !important;

}

.description {
    height: 100px;
    width: 35%;
    border-radius: 8px;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
    left: 40%;
}

.project {
    border-radius: 15px;
    height: 15vh;
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
}

.modalbody {
    height: 20% !important;
}

@media screen and (min-width : 320px) and (max-width : 426px) {
    .abs {
        position: absolute;
        font-size: x-large;
        top: 25px;
        left: 50%;
    }

    .rel {
        background-color: white;
        border-radius: 10px;
        width: 90vw;
        /* margin-left: 50px;
        margin-right: 50px; */

    }
}

@media screen and (min-width : 426px) and (max-width : 769px) {
    .project{
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width : 770px) and (max-width : 1440px) {
    .project{
        width: 10em;
        height: 10em;
    }
}
@media screen and (min-width : 1441px) and (max-width : 2560px) {
    .project{
        height: 15em;
    }
    .abs{
        font-size: 2em;
        left: 4.5em;
    }
}