h4 {
    background-color: pink;
    justify-content: center;
    border-radius: 15px;
    margin-top: 10px !important;
    width: 15rem;
}

.homePage {
    background-image: url("../Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;
    height: 100vh;
    width: 99%;

}

.addbtn {
    margin-left: 30px;
    margin-top: 10px;
}

.btns {
    color: antiquewhite;
    text-decoration: none;
}

.home {
    padding-top: 20px;
    margin-left: 10% !important;
}

.input,
select {
    width: 35%;
    border-radius: 8px;
}

.date {
    padding-top: 20px;
    margin-left: 10% !important;

}

.description {
    height: 100px;
    width: 35%;
    border-radius: 8px;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
    left: 40%;
}

.project {
    border-radius: 15px;
    height: 15vh;
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
}

@media screen and (min-width:1024px) {
    h4 {
        font-size: 20px !important;
        left: 17% !important;
    }

    .project {
        border-radius: 15px !important;
        height: 15vh !important;
        /* position: relative; */
    }

    .abs {
        position: absolute !important;
        font-size: 20px !important;
        left: 20% !important;
    }

}

@media screen and (min-width:992px)and (min-width:1023px) {
    h4 {
        text-align: center !important;
        margin-left: 35%;

    }

    .project {
        border-radius: 15px;
        height: 25vh;
    }

    .abs {
        position: absolute;
        left: 32%;
    }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    h4 {
        text-align: center !important;
        margin-left: 35%;

    }

    .project {
        border-radius: 15px;
        height: 20vh;
    }

    .heading-wrapper {
        justify-content: space-around !important;
    }

}

@media screen and (max-width:767px) and (min-width:350px) {
    h4 {
        text-align: center !important;
        margin-left: 25%;
    }

    .project {
        border-radius: 15px;
        height: 20vh;
        margin-left: 10%;
    }

    .abs {
        position: absolute;
        left: 45%;
        top: 30%;
    }
}